.bubble {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 315px;
  height: 119px;
  border-radius: 8px;
  background-color: #18181B;
}

.bubble button {
  position: absolute;
  width: 33px;
  height: 33px;
  border-radius: 50%; 
  margin-left: 94%;
  margin-top: -10px;
  background: #444444;
  cursor: pointer;
}

.deleteIcon {
  margin-top: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  background-color: transparent;
  font-size: 20px;
  padding-top: 16px;
  padding-left: 21px;
  color: #fff;
}

.inputLabel::placeholder {
  color: #fff;
}

.inputField {
  width: 283px;
  height: 45px;
  border-radius: 5px;
  background-color: #1F1F23;
  align-self: center;
  margin-top: 10px;
  padding: 8px;
  color: #84848454;
}

