.container
{
  display: flex;
  max-width: 500px;
  width: auto;
  min-width: 200px;
  height: auto;
  min-height: 40px;

}

/* .profile {
  border: black 1px solid;
} */

.profile img {
  border-radius: 50%;
}
.content {
  margin-left: 12px;
 background-color: #f7f8ff;
 padding: 10px 20px;
 border-radius: 12px;
}